.head{
     margin-top: 30px;
     margin-left: 20px;
     color: rgb(116, 110, 110);
}
.selectItem{
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-left: 25px;
   margin-top: 10px;
}
.dropdown{
  margin-left: 50px;

}
.buttDis{
  margin-left: 30px;
  margin-top: 10px;
}
.sugDis{
  margin-left: 50px;
  margin-top: 30px;
}
.inputLabel{
  margin-left: 30px;
}